.charcoal-dropdown-selector-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  width: 100%;
}

.charcoal-dropdown-selector-root[aria-disabled='true'] {
  cursor: default;
  opacity: 0.32;
}

.charcoal-dropdown-selector-button {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  gap: 4px;

  padding-right: 8px;
  padding-left: 8px;
  background-color: var(--charcoal-color-container-secondary-default);
  border-radius: 4px;

  transition: 0.2s box-shadow, 0.2s background-color;
}

.charcoal-dropdown-selector-button:disabled {
  cursor: default;
}

.charcoal-dropdown-selector-button:not(:disabled):focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-dropdown-selector-button:not(:disabled):focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-dropdown-selector-button:not(:disabled)[data-active='true'],
.charcoal-dropdown-selector-button:not(:disabled):active {
  background-color: var(--charcoal-color-container-secondary-press);
}

.charcoal-dropdown-selector-button:not(:disabled):hover {
  background-color: var(--charcoal-color-container-secondary-hover);
}

.charcoal-dropdown-selector-button:not(:disabled):focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-dropdown-selector-button[aria-invalid='true'],
.charcoal-dropdown-selector-button:not(
    :disabled
  )[aria-invalid='true']:focus:not(:focus-visible) {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-ui-dropdown-selector-text {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  display: flow-root;
  color: var(--charcoal-color-text-secondary-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.charcoal-ui-dropdown-selector-text[data-placeholder='true'] {
  color: var(--charcoal-color-text-placeholder-default);
}

.charcoal-ui-dropdown-selector-icon {
  color: var(--charcoal-color-text-secondary-default);
}
