.charcoal-switch__label {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  outline: 0;
  gap: 4px;
}

.charcoal-switch__label[aria-disabled='true'] {
  cursor: default;
  opacity: 0.32;
}

.charcoal-switch__label_div {
  font-size: 14px;
  line-height: 22px;
  color: var(--ch-color-text-default);
}
