.charcoal-switch__label {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  outline: 0;
  gap: 4px;
}

.charcoal-switch__label[aria-disabled='true'] {
  cursor: default;
  color: var(--charcoal-color-text-disable);
  background-color: var(--charcoal-color-container-disable);
}

.charcoal-switch__label[aria-disabled='true'] > input {
  opacity: 1;
}

.charcoal-switch__label_div {
  font-size: 14px;
  line-height: 22px;
  color: var(--charcoal-color-text-secondary-default);
}
