.charcoal-popover {
  margin: 4px 0;
  list-style: none;
  overflow: auto;
  max-height: inherit;
  background-color: var(--charcoal-color-background-default);
  border: solid 1px var(--charcoal-color-border-default);
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
