.charcoal-multi-select {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 4px;
}

.charcoal-multi-select:disabled,
.charcoal-multi-select[aria-disabled]:not([aria-disabled='false']) {
  opacity: 0.32;
  cursor: default;
}

.charcoal-multi-select-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flow-root;
  color: var(--charcoal-text2);
}

.charcoal-multi-select-label::before {
  display: block;
  width: 0;
  height: 0;
  content: '';
  margin-top: -4px;
}

.charcoal-multi-select-label::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  margin-bottom: -4px;
}

.charcoal-multi-select-input[type='checkbox'] {
  appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: var(--charcoal-text3);
  border-radius: 999999px;
  transition: 0.2s background-color,0.2s box-shadow;
}

.charcoal-multi-select-input[type='checkbox']:checked {
  background-color: var(--charcoal-brand);
}

.charcoal-multi-select-input[type='checkbox']:checked:hover:not(:disabled):not([aria-disabled]),
.charcoal-multi-select-input[type='checkbox']:checked:hover[aria-disabled='false'] {
  background-color: var(--charcoal-brand-hover);
}

.charcoal-multi-select-input[type='checkbox']:checked:active:not(:disabled):not([aria-disabled]),
.charcoal-multi-select-input[type='checkbox']:checked:active[aria-disabled='false'] {
  background-color: var(--charcoal-brand-press);
}

.charcoal-multi-select-input[type='checkbox']:hover:not(:disabled):not([aria-disabled]),
.charcoal-multi-select-input[type='checkbox']:hover[aria-disabled='false'] {
  background-color: var(--charcoal-text3-hover);
}

.charcoal-multi-select-input[type='checkbox']:active:not(:disabled):not([aria-disabled]),
.charcoal-multi-select-input[type='checkbox']:active[aria-disabled='false'] {
  background-color: var(--charcoal-text3-press);
}

.charcoal-multi-select-input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0,150,250,0.32);
}

.charcoal-multi-select-input[type='checkbox']:focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-multi-select-input[type='checkbox']:focus-visible {
  box-shadow: 0 0 0 4px rgba(0,150,250,0.32);
}

.charcoal-multi-select-input[aria-invalid='true'][data-overlay='false']:not(:disabled):not([aria-disabled]) {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-multi-select-input[aria-invalid='true'][data-overlay='false'][aria-disabled='false'] {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-multi-select-input[data-overlay='true'] {
  background-color: var(--charcoal-surface4);
}

.charcoal-multi-select-overlay {
  position: absolute;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 999999px;
  color: var(--charcoal-text5);
  transition: 0.2s box-shadow;
}

.charcoal-multi-select-overlay[aria-invalid='true'][data-overlay='true']:not(:disabled):not([aria-disabled]) {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-multi-select-overlay[aria-invalid='true'][data-overlay='true'][aria-disabled='false'] {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-multi-select-overlay[data-overlay='true'] {
  border-color: var(--charcoal-text5);
  border-width: 2px;
  border-style: solid;
}
