.charcoal-checkbox-input {
  --charcoal-checkbox-control-size: 20px;
  --charcoal-checkbox-control-icon-size: 16px;
  --charcoal-checkbox-control-radius: 4px;
  --charcoal-checkbox-control-background-checked: var(--charcoal-brand);
  --charcoal-checkbox-control-background-checked-hover:
    var(--charcoal-brand-hover);
  --charcoal-checkbox-control-background-checked-press:
    var(--charcoal-brand-press);
  --charcoal-checkbox-control-border-width: 2px;
  --charcoal-checkbox-control-border-color: var(--charcoal-text4);
  --charcoal-checkbox-control-checkmark-color: white;
  --charcoal-checkbox-control-focus-ring-width: 4px;
  --charcoal-checkbox-control-focus-ring-color: rgba(0, 150, 250, 0.32);
  --charcoal-checkbox-control-invalid-ring-color: rgba(255, 43, 0, 0.32);
  --charcoal-checkbox-control-rounded-radius: 10px;
  --charcoal-checkbox-control-rounded-background: var(--charcoal-surface3);
  --charcoal-checkbox-control-rounded-background-hover:
    var(--charcoal-surface3-hover);
  --charcoal-checkbox-control-rounded-background-press:
    var(--charcoal-surface3-press);
  --charcoal-checkbox-control-rounded-focus-ring-width: 6px;
  --charcoal-checkbox-control-rounded-outline-size: 24px;
  --charcoal-checkbox-control-rounded-outline-offset: -4px;
  --charcoal-checkbox-control-rounded-outline-radius: 12px;
  --charcoal-checkbox-control-rounded-outline-border-width: 2px;
  --charcoal-checkbox-control-rounded-outline-border-color: #fff;
  appearance: none;
  display: flex;
  cursor: pointer;
  margin: 0;
  width: var(--charcoal-checkbox-control-size);
  height: var(--charcoal-checkbox-control-size);
  border-radius: var(--charcoal-checkbox-control-radius);
  transition:
    0.2s box-shadow,
    0.2s background-color;
  position: relative;
  box-sizing: border-box;
}

.charcoal-checkbox-input:disabled,
.charcoal-checkbox-input[readonly] {
  opacity: 0.32;
  cursor: default;
}

.charcoal-checkbox-input:checked {
  background-color: var(--charcoal-checkbox-control-background-checked);
}

.charcoal-checkbox-input:checked::after {
  content: '';
  background-color: var(--charcoal-checkbox-control-checkmark-color);
  display: flex;
  margin: auto;
  width: var(--charcoal-checkbox-control-icon-size);
  height: var(--charcoal-checkbox-control-icon-size);
  clip-path: path(
    'M10.6 5a1.3 1.3 0 0 1 1.8 1.9l-5.7 5.6-3-2.9a1.3 1.3 0 1 1 2-1.9l1 1z'
  );
}

.charcoal-checkbox-input:not(:checked) {
  border-width: var(--charcoal-checkbox-control-border-width);
  border-style: solid;
  border-color: var(--charcoal-checkbox-control-border-color);
}

.charcoal-checkbox-input:not(:disabled):focus {
  outline: none;
  box-shadow: 0 0 0 var(--charcoal-checkbox-control-focus-ring-width)
    var(--charcoal-checkbox-control-focus-ring-color);
}
.charcoal-checkbox-input:not(:disabled):focus-visible {
  box-shadow: 0 0 0 var(--charcoal-checkbox-control-focus-ring-width)
    var(--charcoal-checkbox-control-focus-ring-color);
}
.charcoal-checkbox-input:not(:disabled):focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-checkbox-input:checked:not(:disabled):hover {
  background-color: var(--charcoal-checkbox-control-background-checked-hover);
}
.charcoal-checkbox-input:checked:not(:disabled):active {
  background-color: var(--charcoal-checkbox-control-background-checked-press);
}

.charcoal-checkbox-input[aria-invalid='true'],
.charcoal-checkbox-input[aria-invalid='true']:not(:disabled):focus {
  box-shadow: 0 0 0 var(--charcoal-checkbox-control-focus-ring-width)
    var(--charcoal-checkbox-control-invalid-ring-color);
}

.charcoal-checkbox-input[data-rounded='true'] {
  border-radius: var(--charcoal-checkbox-control-rounded-radius);
  background-color: var(--charcoal-checkbox-control-rounded-background);
  border: var(--charcoal-checkbox-control-border-width) solid transparent;
}

.charcoal-checkbox-input[data-rounded='true']:checked {
  background-color: var(--charcoal-checkbox-control-background-checked);
}

.charcoal-checkbox-input[data-rounded='true']:not(:disabled):hover {
  background-color: var(--charcoal-checkbox-control-rounded-background-hover);
}
.charcoal-checkbox-input[data-rounded='true']:not(:disabled):active {
  background-color: var(--charcoal-checkbox-control-rounded-background-press);
}

.charcoal-checkbox-input[data-rounded='true']:not(:disabled):focus-visible {
  box-shadow: 0 0 0 var(--charcoal-checkbox-control-rounded-focus-ring-width)
    var(--charcoal-checkbox-control-focus-ring-color);
}

.charcoal-checkbox-input[data-rounded='true']:checked:not(:disabled):hover {
  background-color: var(--charcoal-checkbox-control-background-checked-hover);
}
.charcoal-checkbox-input[data-rounded='true']:checked:not(:disabled):active {
  background-color: var(--charcoal-checkbox-control-background-checked-press);
}

.charcoal-checkbox-input[data-rounded='true'][aria-invalid='true'],
.charcoal-checkbox-input[data-rounded='true'][aria-invalid='true']:not(
    :disabled
  ):focus {
  box-shadow: 0 0 0 var(--charcoal-checkbox-control-rounded-focus-ring-width)
    var(--charcoal-checkbox-control-invalid-ring-color);
}

.charcoal-checkbox-input[data-rounded='true']::before {
  content: '';
  width: var(--charcoal-checkbox-control-rounded-outline-size);
  height: var(--charcoal-checkbox-control-rounded-outline-size);
  position: absolute;
  top: var(--charcoal-checkbox-control-rounded-outline-offset);
  left: var(--charcoal-checkbox-control-rounded-outline-offset);
  border-radius: var(--charcoal-checkbox-control-rounded-outline-radius);
  border: var(--charcoal-checkbox-control-rounded-outline-border-width) solid
    var(--charcoal-checkbox-control-rounded-outline-border-color);
  box-sizing: border-box;
}
