.charcoal-checkbox-input {
  appearance: none;
  display: flex;
  cursor: pointer;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transition: 0.2s box-shadow, 0.2s background-color;
  position: relative;
  box-sizing: border-box;
}

.charcoal-checkbox-input:disabled,
.charcoal-checkbox-input[readonly] {
  opacity: 0.32;
  cursor: default;
}

.charcoal-checkbox-input:checked {
  background-color: var(--charcoal-color-container-primary-default);
}

.charcoal-checkbox-input:checked::after {
  content: '';
  background-color: white;
  display: flex;
  margin: auto;
  width: 16px;
  height: 16px;
  clip-path: path(
    'M10.6 5a1.3 1.3 0 0 1 1.8 1.9l-5.7 5.6-3-2.9a1.3 1.3 0 1 1 2-1.9l1 1z'
  );
}

.charcoal-checkbox-input:not(:checked) {
  border-width: 2px;
  border-style: solid;
  border-color: var(--charcoal-color-text4);
}

.charcoal-checkbox-input:not(:disabled):focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-checkbox-input:not(:disabled):focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-checkbox-input:not(:disabled):focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-checkbox-input:checked:not(:disabled):hover {
  background-color: var(--charcoal-color-container-primary-hover);
}
.charcoal-checkbox-input:checked:not(:disabled):active {
  background-color: var(--charcoal-color-container-primary-press);
}

.charcoal-checkbox-input[aria-invalid='true'],
.charcoal-checkbox-input[aria-invalid='true']:not(:disabled):focus {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-checkbox-input[data-rounded='true'] {
  border-radius: 10px;
  background-color: var(--charcoal-color-container-secondary-default);
  border: 2px solid transparent;
}

.charcoal-checkbox-input[data-rounded='true']:checked {
  background-color: var(--charcoal-color-container-primary-default);
}

.charcoal-checkbox-input[data-rounded='true']:not(:disabled):hover {
  background-color: var(--charcoal-color-container-secondary-hover);
}
.charcoal-checkbox-input[data-rounded='true']:not(:disabled):active {
  background-color: var(--charcoal-color-container-secondary-press);
}

.charcoal-checkbox-input[data-rounded='true']:not(:disabled):focus-visible {
  box-shadow: 0 0 0 6px rgba(0, 150, 250, 0.32);
}

.charcoal-checkbox-input[data-rounded='true']:checked:not(:disabled):hover {
  background-color: var(--charcoal-color-container-primary-hover);
}
.charcoal-checkbox-input[data-rounded='true']:checked:not(:disabled):active {
  background-color: var(--charcoal-color-container-primary-press);
}

.charcoal-checkbox-input[data-rounded='true'][aria-invalid='true'],
.charcoal-checkbox-input[data-rounded='true'][aria-invalid='true']:not(
    :disabled
  ):focus {
  box-shadow: 0 0 0 6px rgba(255, 43, 0, 0.32);
}

.charcoal-checkbox-input[data-rounded='true']::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 12px;
  border: 2px solid #fff;
  box-sizing: border-box;
}
