.charcoal-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charcoal-pagination-button {
  cursor: pointer;
  appearance: none;
  padding: 0;
  border-style: none;
  outline: none;
  text-decoration: none;
  font: inherit;
  margin: 0;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;

  /* HACK:
   * Safari doesn't correctly repaint the elements when they're reordered in response to interaction.
   * This forces it to repaint them. This doesn't work if put on the parents either, has to be here.
   */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: translateZ(0);

  color: var(--charcoal-text3);
  background-color: var(--charcoal-transparent);
  border-radius: 20px;
  transition:
    0.2s background-color,
    0.2s box-shadow;
}

.charcoal-pagination-button:focus {
  outline: none;
}

.charcoal-pagination-button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.charcoal-pagination[data-size='S'] .charcoal-pagination-button {
  min-width: 32px;
  min-height: 32px;
}

.charcoal-pagination[data-size='M'] .charcoal-pagination-button {
  min-width: 40px;
  min-height: 40px;
}

.charcoal-pagination-button[hidden] {
  visibility: hidden;
  display: block;
}

.charcoal-pagination-button:not(:disabled):not([aria-disabled]):hover,
.charcoal-pagination-button[aria-disabled='false']:hover {
  color: var(--charcoal-text3);
  background-color: var(--charcoal-surface3);
}

.charcoal-pagination-button:not(:disabled):not([aria-disabled]):active,
.charcoal-pagination-button[aria-disabled='false']:active {
  color: var(--charcoal-text3);
  background-color: var(--charcoal-surface10);
}

.charcoal-pagination-button:not(:disabled):not([aria-disabled]):focus,
.charcoal-pagination-button[aria-disabled='false']:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-pagination-button:not(:disabled):not([aria-disabled]):focus-visible,
.charcoal-pagination-button[aria-disabled='false']:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-pagination-button:not(:disabled):not([aria-disabled]):focus:not(
    :focus-visible
  ),
.charcoal-pagination-button[aria-disabled='false']:focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-pagination-button[aria-current] {
  cursor: default;
  background-color: var(--charcoal-surface6);
  color: var(--charcoal-text5);
}

.charcoal-pagination-button[aria-current]:not(:disabled):not(
    [aria-disabled]
  ):hover,
.charcoal-pagination-button[aria-current]:not(:disabled):not(
    [aria-disabled]
  ):active {
  background-color: var(--charcoal-surface6);
  color: var(--charcoal-text5);
}

.charcoal-pagination-nav-button[hidden] {
  visibility: hidden;
  display: block;
}

.charcoal-pagination-spacer,
.charcoal-pagination-spacer:hover,
.charcoal-pagination-spacer:active {
  cursor: default;
  color: var(--charcoal-text3);
  background: none;
}

.charcoal-pagination-spacer.charcoal-icon-button:disabled {
  opacity: 1;
}
