.charcoal-modal-dialog {
  margin: auto;
  position: relative;
  height: fit-content;
  width: 440px;

  background-color: var(--ch-color-container-default);
  border-radius: 24px;
}

.charcoal-modal-dialog[data-size='S'] {
  width: 336px;
}

.charcoal-modal-dialog[data-size='M'] {
  width: 440px;
}

.charcoal-modal-dialog[data-size='L'] {
  width: 648px;
}

@media (max-width: 743px) {
  .charcoal-modal-dialog {
    max-width: 440px;
    width: calc(100% - 48px);
  }

  .charcoal-modal-dialog[data-bottom-sheet='true'],
  .charcoal-modal-dialog[data-bottom-sheet='full'] {
    max-width: unset;
    width: 100%;
    border-radius: 0;
    margin: auto 0 0 0;
  }

  .charcoal-modal-dialog[data-bottom-sheet='full'] {
    min-height: 100%;
  }
}

.charcoal-modal-dialog:focus {
  outline: none;
}
