:root {
  /* Switch */
  --charcoal-switch-label-color: var(--charcoal-text2);

  /* SwitchInput */
  --charcoal-switch-control-bg-color-active: var(--charcoal-brand);
  --charcoal-switch-control-bg-color-active-hover: var(--charcoal-brand-hover);
  --charcoal-switch-control-bg-color-active-press: var(--charcoal-brand-press);
  --charcoal-switch-control-bg-color-inactive: var(--charcoal-text4);
  --charcoal-switch-control-bg-color-inactive-hover: var(
    --charcoal-text4-hover
  );
  --charcoal-switch-control-bg-color-inactive-press: var(
    --charcoal-text4-press
  );
  --charcoal-switch-control-disable-opacity: 0.32;
  --charcoal-switch-handle-color: var(--charcoal-text5);
  --charcoal-switch-handle-color-hover: var(--charcoal-text5-hover);
  --charcoal-switch-handle-color-press: var(--charcoal-text5-press);
  --charcoal-switch-ring-color-focus: rgba(0, 150, 250, 0.32);

  /* Checkbox */
  --charcoal-checkbox-label-color: var(--charcoal-text2);

  /* CheckboxInput */
  --charcoal-checkbox-border-color: var(--charcoal-text4);
  --charcoal-checkbox-fg-color: #fff;
  --charcoal-checkbox-bg-color-active: var(--charcoal-brand);
  --charcoal-checkbox-bg-color-active-hover: var(--charcoal-brand-hover);
  --charcoal-checkbox-bg-color-active-press: var(--charcoal-brand-press);
  --charcoal-checkbox-bg-color-inactive: var(--charcoal-surface3);
  --charcoal-checkbox-bg-color-inactive-hover: var(--charcoal-surface3-hover);
  --charcoal-checkbox-bg-color-inactive-press: var(--charcoal-surface3-press);
  --charcoal-checkbox-ring-color-focus: rgba(0, 150, 250, 0.32);
  --charcoal-checkbox-ring-color-invalid: rgba(255, 43, 0, 0.32);

  /* CheckboxInput (rounded: true) */
  --charcoal-checkbox-rounded-border-color-focus: #fff;
  --charcoal-checkbox-rounded-bg-color-active: var(--charcoal-brand);
  --charcoal-checkbox-rounded-bg-color-active-hover: var(
    --charcoal-brand-hover
  );
  --charcoal-checkbox-rounded-bg-color-active-press: var(
    --charcoal-brand-press
  );
  --charcoal-checkbox-rounded-bg-color-inactive: var(--charcoal-surface3);
  --charcoal-checkbox-rounded-bg-color-inactive-hover: var(
    --charcoal-surface3-hover
  );
  --charcoal-checkbox-rounded-bg-color-inactive-press: var(
    --charcoal-surface3-press
  );
  --charcoal-checkbox-rounded-ring-color-focus: rgba(0, 150, 250, 0.32);
  --charcoal-checkbox-rounded-ring-color-invalid: rgba(255, 43, 0, 0.32);

  /* Radio */
  --charcoal-radio-label-color: var(--charcoal-text2);

  /* RadioInput */
  --charcoal-radio-fg-color: var(--charcoal-text5);
  --charcoal-radio-fg-color-hover: var(--charcoal-text5-hover);
  --charcoal-radio-fg-color-press: var(--charcoal-text5-press);
  --charcoal-radio-border-color: var(--charcoal-text3);
  --charcoal-radio-bg-color-active: var(--charcoal-brand);
  --charcoal-radio-bg-color-active-hover: var(--charcoal-brand-hover);
  --charcoal-radio-bg-color-active-press: var(--charcoal-brand-press);
  --charcoal-radio-bg-color-inactive: var(--charcoal-surface1);
  --charcoal-radio-bg-color-inactive-hover: var(--charcoal-surface1-hover);
  --charcoal-radio-bg-color-inactive-press: var(--charcoal-surface1-press);
  --charcoal-radio-ring-color-focus: rgba(0, 150, 250, 0.32);
  --charcoal-radio-ring-color-invalid: rgba(255, 43, 0, 0.32);
  /* Button */
  --charcoal-button-fg-color: var(--charcoal-text2);
  --charcoal-button-fg-color-hover: var(--charcoal-text2-hover);
  --charcoal-button-fg-color-press: var(--charcoal-text2-press);
  --charcoal-button-bg-color: var(--charcoal-surface3);
  --charcoal-button-bg-color-hover: var(--charcoal-surface3-hover);
  --charcoal-button-bg-color-press: var(--charcoal-surface3-press);
  --charcoal-button-ring-color-focus: rgba(0, 150, 250, 0.32);
  --charcoal-button-primary-fg-color: var(--charcoal-text5);
  --charcoal-button-primary-fg-color-hover: var(--charcoal-text5-hover);
  --charcoal-button-primary-fg-color-press: var(--charcoal-text5-press);
  --charcoal-button-primary-bg-color: var(--charcoal-brand);
  --charcoal-button-primary-bg-color-hover: var(--charcoal-brand-hover);
  --charcoal-button-primary-bg-color-press: var(--charcoal-brand-press);
  --charcoal-button-overlay-fg-color: var(--charcoal-text5);
  --charcoal-button-overlay-fg-color-hover: var(--charcoal-text5-hover);
  --charcoal-button-overlay-fg-color-press: var(--charcoal-text5-press);
  --charcoal-button-overlay-bg-color: var(--charcoal-surface4);
  --charcoal-button-overlay-bg-color-hover: var(--charcoal-surface4-hover);
  --charcoal-button-overlay-bg-color-press: var(--charcoal-surface4-press);
  --charcoal-button-navigation-fg-color: var(--charcoal-text5);
  --charcoal-button-navigation-fg-color-hover: var(--charcoal-text5-hover);
  --charcoal-button-navigation-fg-color-press: var(--charcoal-text5-press);
  --charcoal-button-navigation-bg-color: var(--charcoal-surface6);
  --charcoal-button-navigation-bg-color-hover: var(--charcoal-surface6-hover);
  --charcoal-button-navigation-bg-color-press: var(--charcoal-surface6-press);
  --charcoal-button-danger-fg-color: var(--charcoal-text5);
  --charcoal-button-danger-fg-color-hover: var(--charcoal-text5-hover);
  --charcoal-button-danger-fg-color-press: var(--charcoal-text5-press);
  --charcoal-button-danger-bg-color: var(--charcoal-assertive);
  --charcoal-button-danger-bg-color-hover: var(--charcoal-assertive-hover);
  --charcoal-button-danger-bg-color-press: var(--charcoal-assertive-press);

  /* DropdownSelector */
  --charcoal-dropdown-selector-button-bg-color: var(--charcoal-surface3);
  --charcoal-dropdown-selector-button-bg-color-hover: var(
    --charcoal-surface3-hover
  );
  --charcoal-dropdown-selector-button-bg-color-press: var(
    --charcoal-surface3-press
  );
  --charcoal-dropdown-selector-ring-color-focus: rgba(0, 150, 250, 0.32);
  --charcoal-dropdown-selector-ring-color-invalid: rgba(255, 43, 0, 0.32);
  --charcoal-dropdown-selector-text-color: var(--charcoal-text2);
  --charcoal-dropdown-selector-placeholder-color: var(--charcoal-text3);
  --charcoal-dropdown-selector-icon-color: var(--charcoal-text2);
  --charcoal-dropdown-selector-divider-bg-color: #00000014;
  --charcoal-dropdown-selector-menu-item-color: var(--charcoal-text2);
  --charcoal-dropdown-selector-menu-item-icon-color: var(--charcoal-text2);
  --charcoal-dropdown-selector-menu-item-secondary-color: var(--charcoal-text3);
  --charcoal-dropdown-selector-menu-item-group-label-color: var(
    --charcoal-text3
  );
  --charcoal-dropdown-selector-list-item-bg-color-hover: var(
    --charcoal-surface3
  );
  --charcoal-dropdown-selector-popover-bg-color: var(--charcoal-background1);
  --charcoal-dropdown-selector-popover-border-color: var(
    --charcoal-border-default
  );

}
