.charcoal-checkbox__label {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 4px;
  color: var(--charcoal-color-text-secondary-default);
}

.charcoal-checkbox__label[aria-disabled='true'] {
  cursor: default;
  color: var(--charcoal-color-text-disable);
}

.charcoal-checkbox__label_div {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}
