.charcoal-checkbox__label {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 4px;
}

.charcoal-checkbox__label[aria-disabled='true'] {
  cursor: default;
  opacity: 0.32;
}

.charcoal-checkbox__label[aria-disabled='true'] > input {
  opacity: 1;
}

.charcoal-checkbox__label_div {
  color: var(--charcoal-color-text2);
  font-size: 14px;
  line-height: 20px;
}
