.charcoal-radio__label {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 4px;
  align-items: center;
  cursor: pointer;
}

.charcoal-radio__label[aria-disabled]:not([aria-disabled='false']) {
  opacity: 0.32;
  cursor: default;
}

.charcoal-radio__label_div {
  font-size: 14px;
  line-height: 22px;
  color: var(--charcoal-text2);
}
