.charcoal-icon-button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border-style: none;
  outline: none;
  color: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-decoration: none;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;

  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999999px;
  transition:
    0.2s background-color,
    0.2s box-shadow;

  &:disabled,
  &[aria-disabled]:not([aria-disabled='false']) {
    cursor: default;
    opacity: 0.32;
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &[data-size='XS'] {
    width: 20px;
    height: 20px;
  }

  &[data-size='S'] {
    width: 32px;
    height: 32px;
  }

  &[data-size='M'] {
    width: 40px;
    height: 40px;
  }

  &[data-variant='Default'] {
    color: var(--charcoal-text3);
    background-color: var(--charcoal-transparent);

    &[data-active='true']:not(:disabled):not([aria-disabled]),
    &[data-active='true'][aria-disabled='false'] {
      color: var(--charcoal-text3-press);
      background-color: var(--charcoal-transparent-press);
    }

    &[data-active='false']:not(:disabled):not([aria-disabled]):hover,
    &[data-active='false'][aria-disabled='false']:hover {
      color: var(--charcoal-text3-hover);
      background-color: var(--charcoal-transparent-hover);
    }

    &[data-active='false']:not(:disabled):not([aria-disabled]):active,
    &[data-active='false'][aria-disabled='false']:active {
      color: var(--charcoal-text3-press);
      background-color: var(--charcoal-transparent-press);
    }
  }

  &[data-variant='Overlay'] {
    color: var(--charcoal-text5);
    background-color: var(--charcoal-surface4);

    &[data-active='true']:not(:disabled):not([aria-disabled]),
    &[data-active='true'][aria-disabled='false'] {
      color: var(--charcoal-text5-press);
      background-color: var(--charcoal-surface4-press);
    }

    &[data-active='false']:not(:disabled):not([aria-disabled]):hover,
    &[data-active='false'][aria-disabled='false']:hover {
      color: var(--charcoal-text5-hover);
      background-color: var(--charcoal-surface4-hover);
    }

    &[data-active='false']:not(:disabled):not([aria-disabled]):active,
    &[data-active='false'][aria-disabled='false']:active {
      color: var(--charcoal-text5-press);
      background-color: var(--charcoal-surface4-press);
    }
  }

  &:not(:disabled):not([aria-disabled]):focus,
  &[aria-disabled='false']:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
  }

  &:not(:disabled):not([aria-disabled]):focus-visible,
  &[aria-disabled='false']:focus-visible {
    box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
  }

  &:not(:disabled):not([aria-disabled]):focus:not(:focus-visible),
  &[aria-disabled='false']:focus:not(:focus-visible) {
    box-shadow: none;
  }
}
