.charcoal-icon-button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999999px;
  transition: 0.2s background-color, 0.2s box-shadow;
}

.charcoal-icon-button:disabled,
.charcoal-icon-button[aria-disabled]:not([aria-disabled='false']) {
  opacity: 0.32;
}

.charcoal-icon-button[data-size='XS'] {
  width: 20px;
  height: 20px;
}
.charcoal-icon-button[data-size='S'] {
  width: 32px;
  height: 32px;
}
.charcoal-icon-button[data-size='M'] {
  width: 40px;
  height: 40px;
}

.charcoal-icon-button[data-variant='Default'] {
  color: var(--charcoal-text3);
  background-color: var(--charcoal-transparent);
}
.charcoal-icon-button[data-variant='Default'][data-active='true']:not(
    :disabled
  ):not([aria-disabled]),
.charcoal-icon-button[data-variant='Default'][data-active='true'][aria-disabled='false'] {
  color: var(--charcoal-text3-press);
  background-color: var(--charcoal-transparent-press);
}
.charcoal-icon-button[data-variant='Default'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):hover,
.charcoal-icon-button[data-variant='Default'][data-active='false'][aria-disabled='false']:hover {
  color: var(--charcoal-text3-hover);
  background-color: var(--charcoal-transparent-hover);
}
.charcoal-icon-button[data-variant='Default'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):active,
.charcoal-icon-button[data-variant='Default'][data-active='false'][aria-disabled='false']:active {
  color: var(--charcoal-text3-press);
  background-color: var(--charcoal-transparent-press);
}

.charcoal-icon-button[data-variant='Overlay'] {
  color: var(--charcoal-text5);
  background-color: var(--charcoal-surface4);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='true']:not(
    :disabled
  ):not([aria-disabled]),
.charcoal-icon-button[data-variant='Overlay'][data-active='true'][aria-disabled='false'] {
  color: var(--charcoal-text5-press);
  background-color: var(--charcoal-surface4-press);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):hover,
.charcoal-icon-button[data-variant='Overlay'][data-active='false'][aria-disabled='false']:hover {
  color: var(--charcoal-text5-hover);
  background-color: var(--charcoal-surface4-hover);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):active,
.charcoal-icon-button[data-variant='Overlay'][data-active='false'][aria-disabled='false']:active {
  color: var(--charcoal-text5-press);
  background-color: var(--charcoal-surface4-press);
}

.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus,
.charcoal-icon-button[aria-disabled='false']:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus-visible,
.charcoal-icon-button[aria-disabled='false']:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus:not(
    :focus-visible
  ),
.charcoal-icon-button[aria-disabled='false']:focus:not(:focus-visible) {
  box-shadow: none;
}
