.charcoal-icon-button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border-style: none;
  outline: none;
  color: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-decoration: none;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;

  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999999px;
  transition: 0.2s background-color, 0.2s box-shadow;
}

.charcoal-icon-button:disabled,
.charcoal-icon-button[aria-disabled]:not([aria-disabled='false']) {
  cursor: default;
  opacity: 0.32;
}
.charcoal-icon-button:focus {
  outline: none;
}
.charcoal-icon-button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.charcoal-icon-button[data-size='XS'] {
  width: 20px;
  height: 20px;
}
.charcoal-icon-button[data-size='S'] {
  width: 32px;
  height: 32px;
}
.charcoal-icon-button[data-size='M'] {
  width: 40px;
  height: 40px;
}

.charcoal-icon-button[data-variant='Default'] {
  color: var(--charcoal-color-text-tertiary-default);
  background-color: rgba(0, 0, 0, 0);
}
.charcoal-icon-button[data-variant='Default'][data-active='true']:not(
    :disabled
  ):not([aria-disabled]),
.charcoal-icon-button[data-variant='Default'][data-active='true'][aria-disabled='false'] {
  color: var(--charcoal-color-text-tertiary-press);
  background-color: var(--charcoal-color-container-press-a);
}
.charcoal-icon-button[data-variant='Default'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):hover,
.charcoal-icon-button[data-variant='Default'][data-active='false'][aria-disabled='false']:hover {
  color: var(--charcoal-color-text-tertiary-hover);
  background-color: var(--charcoal-color-container-hover-a);
}
.charcoal-icon-button[data-variant='Default'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):active,
.charcoal-icon-button[data-variant='Default'][data-active='false'][aria-disabled='false']:active {
  color: var(--charcoal-color-text-tertiary-press);
  background-color: var(--charcoal-color-container-press-a);
}

.charcoal-icon-button[data-variant='Overlay'] {
  color: var(--charcoal-color-text-on-primary-default);
  background-color: var(--charcoal-color-container-on-img-default);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='true']:not(
    :disabled
  ):not([aria-disabled]),
.charcoal-icon-button[data-variant='Overlay'][data-active='true'][aria-disabled='false'] {
  color: var(--charcoal-color-text-on-primary-press);
  background-color: var(--charcoal-color-container-on-img-press);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):hover,
.charcoal-icon-button[data-variant='Overlay'][data-active='false'][aria-disabled='false']:hover {
  color: var(--charcoal-color-text-on-primary-hover);
  background-color: var(--charcoal-color-container-on-img-hover);
}
.charcoal-icon-button[data-variant='Overlay'][data-active='false']:not(
    :disabled
  ):not([aria-disabled]):active,
.charcoal-icon-button[data-variant='Overlay'][data-active='false'][aria-disabled='false']:active {
  color: var(--charcoal-color-text-on-primary-press);
  background-color: var(--charcoal-color-container-on-img-press);
}

.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus,
.charcoal-icon-button[aria-disabled='false']:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus-visible,
.charcoal-icon-button[aria-disabled='false']:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}
.charcoal-icon-button:not(:disabled):not([aria-disabled]):focus:not(
    :focus-visible
  ),
.charcoal-icon-button[aria-disabled='false']:focus:not(:focus-visible) {
  box-shadow: none;
}
