.charcoal-menu-item-group {
  display: block;
}

.charcoal-menu-item-group > span {
  display: block;
  color: var(--ch-color-text-tertiary-default);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 0 8px 16px;
}

.charcoal-menu-item-group > ul {
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}
