.charcoal-text-field-assistive-text {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: var(--charcoal-color-text2);
}

.charcoal-text-field-assistive-text[data-invalid='true'] {
  color: var(--charcoal-color-assertive);
}
