.charcoal-icon {
  display: inline-flex;
  width: var(--charcoal-icon-ssr-size);
  height: var(--charcoal-icon-ssr-size);
}

pixiv-icon:not(:defined) {
  display: inline-flex;

  &[name^='16/'] {
    width: 16px;
    height: 16px;
  }

  &[name^='24/'] {
    width: 24px;
    height: 24px;

    &[scale='2'] {
      width: 48px;
      height: 48px;
    }
    &[scale='3'] {
      width: 72px;
      height: 72px;
    }
  }

  &[name^='32/'] {
    width: 32px;
    height: 32px;
  }

  &[name^='Inline/'] {
    width: 16px;
    height: 16px;

    &[scale='2'] {
      width: 32px;
      height: 32px;
    }
  }

  &[data-charcoal-icon-size] {
    width: var(--charcoal-icon-ssr-size);
    height: var(--charcoal-icon-ssr-size);
  }
}
