.charcoal-dropdown-selector-menu-item {
  font-size: 14px;
  line-height: 22px;
  color: var(--charcoal-color-text2);
  padding: 9px 0;

  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.charcoal-dropdown-selector-menu-item[data-selected='true'] {
  margin-left: 0px;
}

.charcoal-dropdown-selector-menu-item-icon {
  color: var(--charcoal-color-text2);
  padding-right: 4px;
}
