.charcoal-radio-input {
  appearance: none;
  display: block;
  box-sizing: border-box;

  margin: 0;
  padding: 6px;

  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 999999px;
  background-color: var(--charcoal-surface1);
  transition:
    0.2s background-color,
    0.2s box-shadow;
}

.charcoal-radio-input:checked {
  background-color: var(--charcoal-brand);
}

.charcoal-radio-input:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  pointer-events: none;
  background-color: var(--charcoal-text5);
  border-radius: 999999px;
  transition:
    0.2s background-color,
    0.2s box-shadow;
}

.charcoal-radio-input:not(:checked) {
  border-width: 2px;
  border-style: solid;
  border-color: var(--charcoal-text3);
}

.charcoal-radio-input:disabled {
  cursor: default;
}

.charcoal-radio-input:not(:disabled):hover {
  background-color: var(--charcoal-surface1-hover);
}

.charcoal-radio-input:not(:disabled):active {
  background-color: var(--charcoal-surface1-press);
}

.charcoal-radio-input:not(:disabled):focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-radio-input:not(:disabled):focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
}

.charcoal-radio-input:not(:disabled):focus:not(:focus-visible) {
  box-shadow: none;
}

.charcoal-radio-input:not(:disabled)[aria-invalid='true'],
.charcoal-radio-input:not(:disabled)[aria-invalid='true']:focus {
  box-shadow: 0 0 0 4px rgba(255, 43, 0, 0.32);
}

.charcoal-radio-input:checked:not(:disabled):hover {
  background-color: var(--charcoal-brand-hover);
}

.charcoal-radio-input:checked:not(:disabled):hover::after {
  background-color: var(--charcoal-text5-hover);
}

.charcoal-radio-input:checked:not(:disabled):active {
  background-color: var(--charcoal-brand-press);
}

.charcoal-radio-input:checked:not(:disabled):active::after {
  background-color: var(--charcoal-text5-press);
}
