:root {
  --charcoal-transparent: rgba(0, 0, 0, 0);
  --charcoal-transparent-hover: rgba(0, 0, 0, 0.04);
  --charcoal-transparent-press: rgba(0, 0, 0, 0.16);
  --charcoal-background1: #ffffff;
  --charcoal-background1-hover: #f5f5f5;
  --charcoal-background1-press: #d6d6d6;
  --charcoal-background2: #f5f5f5;
  --charcoal-background2-hover: #ebebeb;
  --charcoal-background2-press: #cecece;
  --charcoal-icon6: rgba(255, 255, 255, 0.28);
  --charcoal-icon6-hover: rgba(222, 222, 222, 0.3088);
  --charcoal-icon6-press: rgba(152, 152, 152, 0.3952);
  --charcoal-link1: #3d7699;
  --charcoal-link1-hover: #3b7193;
  --charcoal-link1-press: #336381;
  --charcoal-link2: rgba(255, 255, 255, 0.36);
  --charcoal-link2-hover: rgba(229, 229, 229, 0.3856);
  --charcoal-link2-press: rgba(167, 167, 167, 0.4624);
  --charcoal-surface1: #ffffff;
  --charcoal-surface1-hover: #f5f5f5;
  --charcoal-surface1-press: #d6d6d6;
  --charcoal-surface2: rgba(0, 0, 0, 0.02);
  --charcoal-surface2-hover: rgba(0, 0, 0, 0.0592);
  --charcoal-surface2-press: rgba(0, 0, 0, 0.17679999999999998);
  --charcoal-surface3: rgba(0, 0, 0, 0.04);
  --charcoal-surface3-hover: rgba(0, 0, 0, 0.0784);
  --charcoal-surface3-press: rgba(0, 0, 0, 0.1936);
  --charcoal-surface4: rgba(0, 0, 0, 0.32);
  --charcoal-surface4-hover: rgba(0, 0, 0, 0.3472);
  --charcoal-surface4-press: rgba(0, 0, 0, 0.4288);
  --charcoal-surface6: rgba(0, 0, 0, 0.88);
  --charcoal-surface6-hover: rgba(0, 0, 0, 0.8848);
  --charcoal-surface6-press: rgba(0, 0, 0, 0.8992);
  --charcoal-surface7: rgba(0, 0, 0, 0.02);
  --charcoal-surface7-hover: rgba(0, 0, 0, 0.0592);
  --charcoal-surface7-press: rgba(0, 0, 0, 0.17679999999999998);
  --charcoal-surface8: rgba(0, 0, 0, 0.88);
  --charcoal-surface8-hover: rgba(0, 0, 0, 0.8848);
  --charcoal-surface8-press: rgba(0, 0, 0, 0.8992);
  --charcoal-surface9: #ffffff;
  --charcoal-surface9-hover: #f5f5f5;
  --charcoal-surface9-press: #d6d6d6;
  --charcoal-surface10: rgba(0, 0, 0, 0.16);
  --charcoal-surface10-hover: rgba(0, 0, 0, 0.1936);
  --charcoal-surface10-press: rgba(0, 0, 0, 0.2944);
  --charcoal-text1: #1f1f1f;
  --charcoal-text1-hover: #1e1e1e;
  --charcoal-text1-press: #1a1a1a;
  --charcoal-text2: #474747;
  --charcoal-text2-hover: #444;
  --charcoal-text2-press: #3c3c3c;
  --charcoal-text3: #858585;
  --charcoal-text3-hover: #808080;
  --charcoal-text3-press: #707070;
  --charcoal-text4: #adadad;
  --charcoal-text4-hover: #a6a6a6;
  --charcoal-text4-press: #919191;
  --charcoal-text5: #ffffff;
  --charcoal-text5-hover: #f5f5f5;
  --charcoal-text5-press: #d6d6d6;
  --charcoal-brand: #0096fa;
  --charcoal-brand-hover: #0090f0;
  --charcoal-brand-press: #007ed2;
  --charcoal-assertive: #ff2b00;
  --charcoal-assertive-hover: #f52900;
  --charcoal-assertive-press: #d62400;
  --charcoal-warning: #ffaf0f;
  --charcoal-warning-hover: #f5a80e;
  --charcoal-warning-press: #d6930d;
  --charcoal-success: #b1cc29;
  --charcoal-success-hover: #aac427;
  --charcoal-success-press: #95ab22;
  --charcoal-updatedItem: rgba(0, 150, 250, 0.04);
  --charcoal-updatedItem-hover: rgba(0, 73, 122, 0.0784);
  --charcoal-updatedItem-press: rgba(0, 26, 43, 0.1936);
  --charcoal-border: rgba(0, 0, 0, 0.08);
  --charcoal-border-hover: rgba(0, 0, 0, 0.1168);
  --charcoal-border-press: rgba(0, 0, 0, 0.2272);
  --charcoal-border-default: rgba(0, 0, 0, 0.08);
  --charcoal-border-default-hover: rgba(0, 0, 0, 0.1168);
  --charcoal-border-default-press: rgba(0, 0, 0, 0.2272);
}

@media (prefers-color-scheme: dark) {
  :root {
    --charcoal-transparent: rgba(0, 0, 0, 0);
    --charcoal-transparent-hover: rgba(255, 255, 255, 0.12);
    --charcoal-transparent-press: rgba(255, 255, 255, 0.2);
    --charcoal-background1: #1f1f1f;
    --charcoal-background1-hover: #3a3a3a;
    --charcoal-background1-press: #4c4c4c;
    --charcoal-background2: #000000;
    --charcoal-background2-hover: #1f1f1f;
    --charcoal-background2-press: #333;
    --charcoal-icon6: rgba(255, 255, 255, 0.28);
    --charcoal-icon6-hover: rgba(255, 255, 255, 0.3664);
    --charcoal-icon6-press: rgba(255, 255, 255, 0.42400000000000004);
    --charcoal-link1: #669fc2;
    --charcoal-link1-hover: #78abc9;
    --charcoal-link1-press: #85b2ce;
    --charcoal-link2: rgba(255, 255, 255, 0.36);
    --charcoal-link2-hover: rgba(255, 255, 255, 0.43679999999999997);
    --charcoal-link2-press: rgba(255, 255, 255, 0.488);
    --charcoal-surface1: #1f1f1f;
    --charcoal-surface1-hover: #3a3a3a;
    --charcoal-surface1-press: #4c4c4c;
    --charcoal-surface2: rgba(0, 0, 0, 0.16);
    --charcoal-surface2-hover: rgba(117, 117, 117, 0.2608);
    --charcoal-surface2-press: rgba(155, 155, 155, 0.328);
    --charcoal-surface3: rgba(255, 255, 255, 0.12);
    --charcoal-surface3-hover: rgba(255, 255, 255, 0.2256);
    --charcoal-surface3-press: rgba(255, 255, 255, 0.29600000000000004);
    --charcoal-surface4: rgba(0, 0, 0, 0.32);
    --charcoal-surface4-hover: rgba(76, 76, 76, 0.4016);
    --charcoal-surface4-press: rgba(112, 112, 112, 0.45599999999999996);
    --charcoal-surface6: rgba(255, 255, 255, 0.12);
    --charcoal-surface6-hover: rgba(255, 255, 255, 0.2256);
    --charcoal-surface6-press: rgba(255, 255, 255, 0.29600000000000004);
    --charcoal-surface7: rgba(0, 0, 0, 0.02);
    --charcoal-surface7-hover: rgba(222, 222, 222, 0.1376);
    --charcoal-surface7-press: rgba(236, 236, 236, 0.216);
    --charcoal-surface8: rgba(0, 0, 0, 0.88);
    --charcoal-surface8-hover: rgba(34, 34, 34, 0.8944);
    --charcoal-surface8-press: rgba(56, 56, 56, 0.904);
    --charcoal-surface9: #333333;
    --charcoal-surface9-hover: #4b4b4b;
    --charcoal-surface9-press: #5c5c5c;
    --charcoal-surface10: rgba(255, 255, 255, 0.2);
    --charcoal-surface10-hover: rgba(255, 255, 255, 0.29600000000000004);
    --charcoal-surface10-press: rgba(255, 255, 255, 0.36000000000000004);
    --charcoal-text1: #f5f5f5;
    --charcoal-text1-hover: #f6f6f6;
    --charcoal-text1-press: #f7f7f7;
    --charcoal-text2: #d6d6d6;
    --charcoal-text2-hover: #dbdbdb;
    --charcoal-text2-press: #dedede;
    --charcoal-text3: #858585;
    --charcoal-text3-hover: #949494;
    --charcoal-text3-press: #9d9d9d;
    --charcoal-text4: #5c5c5c;
    --charcoal-text4-hover: #707070;
    --charcoal-text4-press: #7d7d7d;
    --charcoal-text5: #f5f5f5;
    --charcoal-text5-hover: #f6f6f6;
    --charcoal-text5-press: #f7f7f7;
    --charcoal-brand: #0096fa;
    --charcoal-brand-hover: #1fa3fb;
    --charcoal-brand-press: #33abfb;
    --charcoal-assertive: #ff2b00;
    --charcoal-assertive-hover: #ff441f;
    --charcoal-assertive-press: #f53;
    --charcoal-warning: #ffaf0f;
    --charcoal-warning-hover: #ffb92c;
    --charcoal-warning-press: #ffbf3f;
    --charcoal-success: #b1cc29;
    --charcoal-success-hover: #bad243;
    --charcoal-success-press: #c1d654;
    --charcoal-updatedItem: rgba(0, 150, 250, 0.12);
    --charcoal-updatedItem-hover: rgba(136, 206, 253, 0.2256);
    --charcoal-updatedItem-press: rgba(172, 221, 253, 0.29600000000000004);
    --charcoal-border: rgba(255, 255, 255, 0.12);
    --charcoal-border-hover: rgba(255, 255, 255, 0.2256);
    --charcoal-border-press: rgba(255, 255, 255, 0.29600000000000004);
    --charcoal-border-default: rgba(255, 255, 255, 0.12);
    --charcoal-border-default-hover: rgba(255, 255, 255, 0.2256);
    --charcoal-border-default-press: rgba(255, 255, 255, 0.29600000000000004);
  }
}
