.charcoal-button {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  padding: 0 24px;
  border-style: none;
  outline: none;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-decoration: none;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: min-content;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 999999px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: var(--charcoal-color-text-default);
  background-color: var(--charcoal-color-container-secondary-default-a);
  transition: 0.2s color, 0.2s background-color, 0.2s box-shadow;
  height: 40px;
}

.charcoal-button:disabled {
  cursor: default;
  color: var(--charcoal-color-text-disable);
  background-color: var(--charcoal-color-container-disable);
}

.charcoal-button:not(:disabled):focus-visible {
  outline: none;
  box-shadow: var(--charcoal-color-custom-focus-effect);
}

.charcoal-button:not(:disabled):hover {
  color: var(--charcoal-color-text-hover);
  background-color: var(--charcoal-color-container-secondary-hover-a);
}

.charcoal-button:not(:disabled):active,
.charcoal-button:not(:disabled)[data-active='true'] {
  color: var(--charcoal-color-text-press);
  background-color: var(--charcoal-color-container-secondary-press-a);
}

.charcoal-button[data-variant='Primary'] {
  color: var(--charcoal-color-text-on-primary-default);
  background-color: var(--charcoal-color-container-primary-default);
}

.charcoal-button[data-variant='Primary']:hover:not(:disabled) {
  color: var(--charcoal-color-text-on-primary-hover);
  background-color: var(--charcoal-color-container-primary-hover);
}

.charcoal-button[data-variant='Primary']:active:not(:disabled),
.charcoal-button[data-variant='Primary'][data-active='true'] {
  color: var(--charcoal-color-text-on-primary-press);
  background-color: var(--charcoal-color-container-primary-press);
}

.charcoal-button[data-variant='Overlay'] {
  color: var(--charcoal-color-text-on-on-img-default);
  background-color: var(--charcoal-color-container-on-img-default);
}

.charcoal-button[data-variant='Overlay']:hover:not(:disabled) {
  color: var(--charcoal-color-text-on-on-img-hover);
  background-color: var(--charcoal-color-container-on-img-hover);
}

.charcoal-button[data-variant='Overlay']:active:not(:disabled),
.charcoal-button[data-variant='Overlay'][data-active='true'] {
  color: var(--charcoal-color-text-on-on-img-press);
  background-color: var(--charcoal-color-container-on-img-press);
}

/*
 * HUD 要素ではないが、以下の理由で HUD を色として利用する。
 * 1. UI パッケージであるがゆえにデザインを大幅に変えたくない
 *   a. このコンポーネントデザインは改善できると思っている
 * 2. この要素を説明するための Applied Token が存在しないため、例外的に Component Token という位置づけを追加することになる
 * 改善するとなくなる要素のために新しく Token を追加することは避けたいので、今回は最も近しい Applied Token の HUD を利用することにした。
 */
.charcoal-button[data-variant='Navigation'] {
  color: var(--charcoal-color-text-on-hud-default);
  background-color: var(--charcoal-color-container-hud-default);
}

.charcoal-button[data-variant='Navigation']:hover:not(:disabled) {
  color: var(--charcoal-color-text-on-primary-hover);
  background-color: var(--charcoal-color-container-hud-hover);
}

.charcoal-button[data-variant='Navigation']:active:not(:disabled),
.charcoal-button[data-variant='Navigation'][data-active='true'] {
  color: var(--charcoal-color-text-on-primary-press);
  background-color: var(--charcoal-color-container-hud-press);
}

.charcoal-button[data-variant='Danger'] {
  color: var(--charcoal-color-text-on-negative-default);
  background-color: var(--charcoal-color-container-negative-default);
}
.charcoal-button[data-variant='Danger']:hover:not(:disabled) {
  color: var(--charcoal-color-text-on-negative-hover);
  background-color: var(--charcoal-color-container-negative-hover);
}

.charcoal-button[data-variant='Danger']:active:not(:disabled),
.charcoal-button[data-variant='Danger'][data-active='true'] {
  color: var(--charcoal-color-text-on-negative-press);
  background-color: var(--charcoal-color-container-negative-press);
}

.charcoal-button[data-size='S'] {
  padding: 0 16px;
  height: 32px;
}

.charcoal-button[data-full-width='true'] {
  width: 100%;
}
