.charcoal-button {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  padding: 0 24px;
  border-style: none;
  outline: none;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-decoration: none;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: min-content;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 999999px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: var(--charcoal-color-text-default);
  background-color: var(--charcoal-color-container-secondary-default-a);
  transition:
    0.2s color,
    0.2s background-color,
    0.2s box-shadow;
  height: 40px;

  &:disabled,
  &[aria-disabled]:not([aria-disabled='false']) {
    cursor: default;
    opacity: 0.32;
  }

  &:not(:disabled):not([aria-disabled]):focus-visible,
  &[aria-disabled='false']:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 150, 250, 0.32);
  }

  &:not(:disabled):not([aria-disabled]):hover,
  &[aria-disabled='false']:hover {
    color: var(--charcoal-color-text-hover);
    background-color: var(--charcoal-color-container-secondary-hover-a);
  }

  &:not(:disabled):not([aria-disabled]):active,
  &[aria-disabled='false']:active,
  &[data-active='true'] {
    color: var(--charcoal-color-text-press);
    background-color: var(--charcoal-color-container-secondary-press-a);
  }

  &[data-variant='Primary'] {
    color: var(--charcoal-color-text-on-primary-default);
    background-color: var(--charcoal-color-container-primary-default);

    &:hover:not(:disabled):not([aria-disabled]),
    &:hover[aria-disabled='false'] {
      color: var(--charcoal-color-text-on-primary-hover);
      background-color: var(--charcoal-color-container-primary-hover);
    }

    &:active:not(:disabled):not([aria-disabled]),
    &:active[aria-disabled='false'],
    &[data-active='true'] {
      color: var(--charcoal-color-text-on-primary-press);
      background-color: var(--charcoal-color-container-primary-press);
    }
  }

  &[data-variant='Overlay'] {
    color: var(--charcoal-color-text-on-on-img-default);
    background-color: var(--charcoal-color-container-on-img-default);

    &:hover:not(:disabled):not([aria-disabled]),
    &:hover[aria-disabled='false'] {
      color: var(--charcoal-color-text-on-on-img-hover);
      background-color: var(--charcoal-color-container-on-img-hover);
    }

    &:active:not(:disabled):not([aria-disabled]),
    &:active[aria-disabled='false'],
    &[data-active='true'] {
      color: var(--charcoal-color-text-on-on-img-press);
      background-color: var(--charcoal-color-container-on-img-press);
    }
  }

  &[data-variant='Navigation'] {
    color: var(--charcoal-color-text-on-hud-default);
    background-color: var(--charcoal-color-container-hud-default);

    &:hover:not(:disabled):not([aria-disabled]),
    &:hover[aria-disabled='false'] {
      color: var(--charcoal-color-text-on-hud-hover);
      background-color: var(--charcoal-color-container-hud-hover);
    }

    &:active:not(:disabled):not([aria-disabled]),
    &:active[aria-disabled='false'],
    &[data-active='true'] {
      color: var(--charcoal-color-text-on-hud-press);
      background-color: var(--charcoal-color-container-hud-press);
    }
  }

  &[data-variant='Danger'] {
    color: var(--charcoal-color-text-on-negative-default);
    background-color: var(--charcoal-color-container-negative-default);

    &:hover:not(:disabled):not([aria-disabled]),
    &:hover[aria-disabled='false'] {
      color: var(--charcoal-color-text-on-negative-hover);
      background-color: var(--charcoal-color-container-negative-hover);
    }

    &:active:not(:disabled):not([aria-disabled]),
    &:active[aria-disabled='false'],
    &[data-active='true'] {
      color: var(--charcoal-color-text-on-negative-press);
      background-color: var(--charcoal-color-container-negative-press);
    }
  }

  &[data-size='S'] {
    padding: 0 16px;
    height: 32px;
  }

  &[data-full-width='true'] {
    width: 100%;
  }
}
