name: Bundle Size

on:
  pull_request:
    branches:
      - main
      - v4.0.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: preactjs/compressed-size-action@v2
        with:
          install-script: 'yarn install'
          build-script: 'build'
          clean-script: 'clean'

          # パフォーマンス面の計測よりも、誤って変なものを bundle したことを検知したいので圧縮前で比較する
          compression: 'none'

          # sourcemap は見ない
          # d.ts はたまに異常な数の union 型が展開されるとかは検知したいが見なくて良いかもしれない
          pattern: './packages/**/dist/**/*.{ts,js,cjs}'
          exclude: '{**/node_modules/**}'
