name: Deploy to Live Channel

on:
  push:
    branches:
      - main

env:
  WORKLOAD_IDENTITY_PROVIDER: 'projects/643536859873/locations/global/workloadIdentityPools/charcoal/providers/github-actions'
  SERVICE_ACCOUNT_EMAIL: 'deployer@pixiv-charcoal-web.iam.gserviceaccount.com'

permissions:
  contents: read
  id-token: write

jobs:
  deploy_live_website:
    runs-on: ubuntu-latest

    concurrency: live-channel
    environment:
      name: live-channel
      # url: TODO: Edit after

    steps:
      - name: Get pnpm store path
        id: pnpm-store-path
        run: echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: '10.27.0'
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: pnpm
      # charcoal packages
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      # docs
      - run: pnpm storybook:build

      - id: auth
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT_EMAIL }}
          create_credentials_file: true
      - name: GCP Authenticate
        uses: google-github-actions/setup-gcloud@v3

      # c.f. https://github.com/FirebaseExtended/action-hosting-deploy/issues/174#issuecomment-1312272238
      - name: Pass the path to the Service Account file automatically generated by google-github-actions/auth
        run: |
          echo "SERVICE_ACCOUNT_KEY=$(cat "${{ steps.auth.outputs.credentials_file_path }}" | tr -d '\n')" >> $GITHUB_ENV

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          projectId: pixiv-charcoal-web
          channelId: live
          firebaseServiceAccount: ${{ env.SERVICE_ACCOUNT_KEY }}
