name: gh-pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  storybook:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: '10.27.0'
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: pnpm

      - name: Prepare deps
        run: |
          pnpm install --frozen-lockfile
          pnpm build

      - name: Output files
        run: |
          pnpm storybook:build -o public-pages --quiet
          cp .storybook/badge.svg public-pages/storybook-badge.svg
          mv pages public-pages/docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public-pages
