name: Publish to npmjs

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'リリースしたいバージョン名'
        required: true
      release_tag:
        description: 'Release tag'
        required: true
        default: 'latest'
        type: choice
        options:
          - latest
          - beta
          - rc

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Get pnpm store path
        id: pnpm-store-path
        run: echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: '10.4.0'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install node dependencies
        run: pnpm install --frozen-lockfile

      - name: Set git username and email
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "actions-user"

      - name: Set package version
        run: pnpm lerna version ${{ github.event.inputs.version }} --no-push --force-publish --yes

      - name: git push version up commits
        run: |
          git push origin ${{ github.ref_name }}

      - name: Build & Publish to npmjs
        run: pnpm release -y from-package --dist-tag ${{ github.event.inputs.release_tag }}
        env:
          NPM_CONFIG_PROVENANCE: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
