name: CI
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
      - v3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: yarn

      - run: yarn install --immutable --inline-builds
      - run: yarn build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: yarn

      - run: yarn install --immutable --inline-builds
      - run: yarn build
      - run: yarn test
        env:
          CI: 'true'

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: yarn

      - run: yarn install --immutable --inline-builds
      - run: |
          yarn lint:eslint
          yarn lint:prettier
          # v4.0.0 になったら有効化する
          # yarn lint:styleilnt

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: yarn

      - run: yarn install --immutable --inline-builds
      - run: yarn build
      - run: yarn typecheck

  typecheck-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: yarn

      - run: yarn install --immutable --inline-builds
      - run: yarn typecheck:config
